---
import BaseHead from '../../components/BaseHead.astro';
import Aside from '../../components/Aside.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import "@sakun/system.css/style.css";

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin-top: 20px;
				margin-bottom: 15px;
				color: rgb(var(--black));
				font-size: 1.25rem;
				line-height: 1;
			}
			.date {
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				border: 3px;
				border-style: ridge;
				border-color: rgba(128, 128, 128, 0.1);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<div class="container">
		<div class="layout">
		<div class="col col-main">
			<Aside />
		</div>
		<main>
			<div class="col col-complementary" role="complementary">
        <div class="standard-dialog">
			<div class="center" style="display: flex; gap: 10px; align-items: center; justify-content: center;">
				<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 32px;"> <path d="M18 2h-2v2h2V2zM4 4h6v2H4v14h14v-6h2v8H2V4h2zm4 8H6v6h6v-2h2v-2h-2v2H8v-4zm4-2h-2v2H8v-2h2V8h2V6h2v2h-2v2zm2-6h2v2h-2V4zm4 0h2v2h2v2h-2v2h-2v2h-2v-2h2V8h2V6h-2V4zm-4 8h2v2h-2v-2z" fill="currentColor"/> </svg>
				<h2 class="center" id="blog">Blog</h2>
			</div>
			<section>
				<ul class="center">
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<img transition:name={post.data.title} class="image" style="object-fit: cover;" width={500} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<code class="date">
										<FormattedDate date={post.data.pubDate} />
									</code>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</div>
	</div>
		</main>
	</div>
</div>
	</body>
</html>
