---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import "@sakun/system.css/style.css";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			main {
				width: calc(100% - 1em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 1em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			@media (max-width: 1075px) {
				img {
					max-width: 100%;
					height: 50%;
				}
			}
		</style>
	</head>

	<body>
		<div class="container">
		<div class="layout">
		<div class="col col-main">
			<Aside />
		</div>
		<main>
		<div class="col col-complementary" role="complementary">
        <div class="standard-dialog" style="margin-bottom: 20px;">
			<article>
				<div class="hero-image">
					{heroImage && <img transition:name={title} width={1020} height={510} src={heroImage} style="box-shadow: none; border: 1px; border-style: ridge; border-color: rgba(128, 128, 128, 0.1);" alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1 style="font-size: 2rem;">{title}</h1>
						<i style="margin-top: 5px;">{description}</i>
						<div class="date" style="margin-top: 15px;">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</div>
	</div>
		</main>
	</div>
</div>
	</body>
</html>
